# Node dependencies
_site/
node_modules/
.DS_Store
_site/

# Local environment
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor folders
.vscode/
.idea/

# OS generated
.DS_Store
Thumbs.db

# Optional: Tailwind build artifacts if outside _site
dist/
*.tmp
.cache/

# Mac/Linux file metadata
*.swp
*.swo
