@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}
@tailwind typography;

@theme {
  --color-background: #0d1b2a;  /* deep navy */
  --color-surface: #1b263b;     /* charcoal */
  --color-text: #f1f5f9;        /* light text */
  --color-muted: #94a3b8;       /* soft grey */
  --color-accent: #d4af37;      /* soft gold */
}
